@{
    ViewData["Title"] = "Photography - Basics";
}
@section PageHead{
    <div class="container">
        <h3>The subkect of the page is @ViewData["Title"]</h3>
        <h4>We'll explain some concepts, like depth of field, shutter, aperture...</h4>
    </div>
}

*@*section PageFoot{
    *    <div class="container">
     *       <h4>Jeśli chciałbyś się dowiedzieć czegoś więcej:</h4>
     *       <h5>Pisz na <a href="mailto:name@email.com">Nasz adres mailowy!</a></h5>
    *        <h5>Zadzwoń! <em>+48 555-555-555</em></h5>
    *    </div>
    *
    *}
*@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div class="text-center" style="height: 100%;">
    <h2 class="display-4">@ViewData["Title"]</h2>
    <h5>A bunch of facts:</h5>
    <dl>
        <dt>Depth of field (DOF)</dt>
        <dd>For many cameras, depth of field (DOF) is the distance between the nearest and the farthest objects that are in acceptably sharp focus in an image. The depth of field can be calculated based on focal length, distance to subject, the acceptable circle of confusion size, and aperture. A particular depth of field may be chosen for technical or artistic purposes. </dd>
        <dt>Exposure value (EV)</dt>
        <dd>"In photography, exposure value (EV) is a number that represents a combination of a camera's shutter speed and f-number, such that all combinations that yield the same exposure have the same EV (for any fixed scene luminance). Exposure value is also used to indicate an interval on the photographic exposure scale, with a difference of 1 EV corresponding to a standard power-of-2 exposure step, commonly referred to as a stop.</dd>


    </dl>

    <button type="button" class="btn btn-primary" id="btnShowModal">
        EV calculator
    </button>
    <div id="calc_wrapper" class="modal ">
        <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react/16.13.0/umd/react.development.js"></script>
        <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.13.0/umd/react-dom.development.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
        <div id="calc_content"></div>

        <script src="@Url.Content("~/js/dist/calculator.jsx")"></script>

        <button type="button" class="btn btn-primary" id="btnHideModal">
            Close
        </button>
    </div>
    <dl>
        <dt>Aperture</dt>
        <dd>In optics, an aperture is a hole or an opening through which light travels. More specifically, the aperture and focal length of an optical system determine the cone angle of a bundle of rays that come to a focus in the image plane.</dd>
        <dt>Shutter</dt>
        <dd>In photography, a shutter is a device that allows light to pass for a determined period, exposing photographic film or a photosensitive digital sensor to light in order to capture a permanent image of a scene. </dd>
        <dt>Sshutter speed</dt>
        <dd>In photography, shutter speed or exposure time is the length of time when the film or digital sensor inside the camera is exposed to light, also when a camera's shutter is open when taking a photograph.[1] The amount of light that reaches the film or image sensor is proportional to the exposure time. ​1⁄500 of a second will let half as much light in as ​1⁄250.</dd>

    </dl>
</div>
@section Scripts
{
    <script>
        $(document).ready(function () {

            $("#btnShowModal").click(function () {
                $("#calc_wrapper").modal('show');
            });

            $("#btnHideModal").click(function () {
                $("#calc_wrapper").modal('hide');
            });
        });


    </script>
}
