@{
    ViewData["Title"] = "History of Photographic cameras";
}
@section PageHead{
    <div class="container">
        <h3>Hello, this is @ViewData["Title"]</h3>
        <h4>Here, You'll learn some things on the subject</h4>
    </div>
}

<div class="text-center">
    <h2 class="display-4">@ViewData["Title"]</h2>
    <h5>A bunch of facts...</h5>
    <p>@ViewBag.ValuePara1</p>
</div>
