@{
    ViewData["Title"] = "Start";
}
@section PageHead{
    <div class="container">
        <h3>Hello, this is the @ViewData["Title"] page of the app</h3>
        <h4>Here is where it begins...</h4>
    </div>
}
@section PageFoot{
    <div class="container">
        <h4>If You are interested in more information</h4>
        <h5>Write to <a href="mailto:name@email.com">our e-mail address</a></h5>
        <h5>Call <em>+48 555-555-555</em></h5>
    </div>
}
<div class="text-center">
    <h1 class="display-4">Hello!!</h1>
    <h5>We welcome you to get yourself acquanited with this database of information about <abbr title="Also, erroneously, called 'analogue'">traditional</abbr> photographic cameras</h5>
    <p>@ViewBag.ValuePara1</p>
    <p>@ViewBag.ValuePara1</p>

</div>
