@{
    ViewData["Title"] = "Start";
}
@section PageHead{
    <div class="container">
        <h3>Hello, this is the @ViewData["Title"] page of the app</h3>
        <h4>Tu się wszystko zaczyna.</h4>
    </div>
}
@section PageFoot{
    <div class="container">
        <h4>If You are interested in more information</h4>
        <h5>Write to <a href="mailto:name@email.com">our e-mail address</a></h5>
        <h5>Call <em>+48 555-555-555</em></h5>
    </div>
}
<div class="text-center">
    <h1 class="display-4">Witaj!</h1>
    <h5>Zapraszamy do zapoznania się z naszą bazą informacji o <abbr title="Zwanych też, nie do końca słusznie 'analogowymi'">tradycyjnych</abbr> aparatach fotograficznych</h5>
    <p>@ViewBag.ValuePara1</p>
    <p>@ViewBag.ValuePara1</p>

</div>
