@{
    ViewData["Title"] = "Polityka Prywatności";
}
@section PageHead{
    <div class="container">
        <h3>Witaj, to jest @ViewData["Title"] tej aplikacji</h3>
        <h4>Tu dowiesz się, co Ci wolno, a czego nie powinienieś robić!</h4>
    </div>
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Meh.</p>
</div>
