@{
    ViewData["Title"] = "AccessDenied";
}

<h2 class="bg-danger mb-1 p-2 text-white">Access Denied</h2>
<h3 class="bg-danger mb-1 p-2 text-white">Your role does not permit access here!</h3>
<a asp-action="Index" asp-controller="Home" class="btn btn-primary">OK</a>