/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #084FD0;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background: linear-gradient(90deg, rgba(40,40,40,1) 0%, rgba(150,150,150,1) 26%, rgba(255,255,255,1) 100%);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

#WerraLogo {
    opacity: 0.6;
}

#calc_content {
    z-index: 1000;
    border: 1px solid black;
}

div#calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

form#calcForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    form#calcForm label {
        font-weight: 600;
        color: mediumblue;
    }

    form#calcForm input {
       margin: 10px;
    }

form {
    margin: 5px;
    width: 85%;
}

table#EVData, table#EVData td, table#EVData th {
    border: 1px solid black;
    text-align: center;
    background-color: white;
    margin: 0 auto;
}

table {
    width: 90%;
}

div#calculator {
    height: 100%;
    background-color: rgba(111, 111, 111, 0.5);
}

#navbar .nav-item:hover {
    transition: 0s border;
    transition-delay: 0.25s;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    filter: brightness(200%);
    text-shadow: 3px 3px 3px rgba(206,89,55,0);
}

.boxedContent {
    border-radius: 5px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

#WerraLogo {
    background-image: url("../img/werra_open_cap.JPG");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.mainContent {
    min-height: 50%;
    overflow: auto !important;
    display: inline-block;
}

.footerContent {
    max-height: 20%;
    height: 10%;
}


.check-box {
    width: 1.5em;
    height: 1.5em;
}
